@using SpaDay.ViewModels;
@model AddUserViewModel;

<h1>Sign Up Form</h1>

<form method="post" action="/user">
    <div class="form-group">
        <label asp-for="@Model.Username"></label>
        <input asp-for="@Model.Username" class="form-control" />
        <span  class="alert-danger" asp-validation-for="@Model.Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span  class="alert-danger" asp-validation-for="@Model.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password">Password</label>
        <input type="password" asp-for="@Model.Password" class="form-control" />
        <span class="alert-danger" asp-validation-for="@Model.Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.VerifyPassword">Confirm Password</label>
        <input  type="password" asp-for="@Model.VerifyPassword" class="form-control" />
        <span  class="alert-danger" asp-validation-for="@Model.VerifyPassword"></span>
    </div>   
    
    <input type='submit' value='Submit' class="btn btn-success" >
</form>
